* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
/* Generel tekst og headlines */

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}


p {
    font-family: "heebo", sans-serif;
    font-size: 16px;
}



h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 20px;
}

h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

h3 {
     font-family: "Roboto Mono", sans-serif;
    font-size: 20x;
    font-weight: 700;
}





/* index */

.forsidelilla{
    color: #AA80AB;
    font-family: "roboto mono";
    font-weight: 700;
    float: left;
    clear: both;
}

.loginlilla{
    color: #AA80AB;
    font-family: "roboto mono";
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
.forsidelogo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    float: left;

}

.navbjaelkeindex{
    width: 100%;
    height: 10px;
    background-color: #A6BB75;
    clear: both;
}

.centerbox{
    width: 240px;
    text-align: center;
    margin: auto;
}

.loginform{
    text-align: left;
    margin-bottom: 10px;
}

.h3login{
    font-family: "heebo";
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.inputlogin{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border-radius: 2px;
    border-width: 1px;
    background-color: #e8e8e8;
    font-family: "heebo";
    font-size: 10px;
}

.glemt{
    font-family: "heebo";
    font-size: 10px;
    color: #696969;
    text-decoration: none;
}

.btn-one{
    height: 30px;
    width: 80px;
    background-color: #A6BB75;
    font-family: "heebo";
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    border: 0px;
    
}


/* Navigationsbar */

.logo {
    margin-top: 10px;
    margin-bottom: 20px;  
}



.fixbox-two {
    height: 53px;
    z-index: 11;
}

.fixboxnav {
    height: 90px;
    z-index: -11;
}

.topnav {
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    
}

.extended {
    height: 90px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}

.sticky + .leftcolumn {
    margin-top: 40px;
}


.navbjaelke {
    height: 10px;
    width: 100%;
    background-color: #A6BB75;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 40px;
    float: left;
}

.center {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}



li {
    display: block;
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    font-weight: 700;
    flex: 0 1 auto;
    list-style-type: none;
}

li.active {
    color: #AA80AB;
}


/* Venstre kolonne */


.leftcolumn {
    float: left;
    width: 49.1%;
    margin-bottom: 30px;
}

.greybox {
    width: 100%;
    height: 120px;
    background-color: #E8E8E8;
    border-radius: 2px;
    margin-top: 20px;
    z-index: -2
}

.forside-box, .forside-tekst, .bluebox-one {
    margin-left: 10px;
    margin-top: 15px;
}

.greybox, .bluebox {
    padding-top: 1px;
    position: relative;
}

.btn-two {
    width: 22%;
    float: right;
    margin-right: 9px;
    height: 34px;
    background-color: #A6BB75;
    border-radius: 2px;
    color: white;
    font-family: "heebo", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.knaptekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}


/* højre kolonne */

.rightcolumn {
    float: right;
    margin-top: 20px;
    width: 49.1%;
}

.bluebox {
    width: 100%;
    height: 120px;
    background-color: #6696AC;
    border-radius: 2px;
    margin-top: 20px;
    color: white;
    z-index: -3;
    
}

.bluebox-two {
    margin-right: 15px;
     position: absolute;
    top: 85%;
    left: 93%;
    transform: translate(-50%, -50%);
    width: 40%;
}


.topnav-two {
    display: none;
}

/* Link styling */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* spørgeskema */

.skemabjaelke {
    height: 40px;
    margin-bottom: 30px;
}

.skemaul {
     width: 85%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skemanav {
    font-size: 15px;
    color: white;
}

.skemanav-two {
    font-size: 15px;
    color: white;
}

.skemaul-two {
    width: 75%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.underbjaelke-two {
    height: 10px;
    float: left;
    margin-top: 40px;
    width: 50%;
}

.underbjaelke {
    width: 25%;
    height: 10px;
    float: left;
    margin-top:40px;
}


.green {
    background-color: #A6BB75;
}

.blue {
    background-color: #6696AC;
}

.purple {
    background-color: #AA80AB;
}

.red {
    background-color: #D26D75;
}


.opacity {
    opacity: 0.6;
}

.h2-hojtdrive{
   color: #A6BB75;
    margin-top: 30px;
    margin-bottom: 15px;
}
.h2-staerktteam{
    color: #AA80AB;
    margin-top: 30px;
    margin-bottom: 15px;
}

.h2-godkarma{
    color: #D26D75;
    margin-top: 30px;
    margin-bottom: 15px;
}

.h2-hadetsjovt{
    color: #6696AC;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4{
    font-family: "heebo", sans-serif;
    font-weight: 700;
}

.psporg{
    width: 45%;
    margin-left: 10px;
}

.eksempelp{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 50px;
    color: #696969;
    margin-bottom: 15px;
}

.h4sporgsmal{
    margin-left: 50px;
    width: 70%;
    
}
.h4sporgsmaludenfor{
    margin-left: 50px;
    width: 40%;
    
}
/* grid */
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: auto;
    grid-column-gap: 2%;
}
.kolnested{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: auto;
    grid-column-gap: 3%
}

.left{
}
.right{
    text-align: center;
}

/* bluebox sporg */

.blueboxsporg{
    width: 100%;
    background-color: #6696AC;
    border-radius: 2px;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Billeder */

.sporgeskemaimg{
    width: 280px;
    margin-top: 150px;
    
}

/* input */
.sporgsmalinput{
    width: 80%;
    height: 45px;
    background-color: #e8e8e8;
    border: 0px;
    border-radius: 2px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: "heebo", sans-serif;
}

/* spørgeskema check knap */

input[type=checkbox] + label {
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    border-radius: 2px;
    color: transparent;
    background-color: #e8e8e8;
    transition: .2s;
    margin-left: 10px;
}

input[type=checkbox]:checked + label:before{
    background-color: #e8e8e8;
    color: #000000;
}

input[type=checkbox] + label:active:before{
    transform:scale(.8)
}

/* Din udvikling */

.leftcolumn-two {
    float: left;
    width: 49.1%;
    clear: left;
}

.rightcolumn-two {
    float: right;
    width: 49.1%;
    margin-top: 10px;
    clear: right;
}

.graf {
    width: 100%;
    float: right;
    max-height: 350px;
    min-height: 350px;
}

.greybox-two {
     width: 100%;
    height: 120px;
    background-color: #E8E8E8;
    border-radius: 2px;
    z-index: -2;
}

.h4u {
    margin-top: 20px;
    margin-left: 10px;
}

.eksempelpu{
    font-size: 10px;
    margin-top: 5px;
    color: #696969;
    margin-bottom: 15px;
    margin-left: 10px;
}

.marginu {
    margin-bottom: 100px;
}

.bottom {
    margin-bottom: 60px;
}

/* kollega */

.kolbilleder{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 2px;
}
.kolp{
    margin-bottom: 10px;
    text-align: center;
}








/* medarbejder sider */

/* Dropdown kollegaer knap */

.dropdownbutton{
    background-color: #e6e6e6e6;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.dropdownbutton:hover, .dropdownbutton:focus {
    background-color: #AA80AB;
}

.dropdownnames{
    position: relative;
    display: inline-block;
}

.dropdownindhold{
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownindhold a{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-family: "heebo", sans-serif;
    font-size: 15px;
    
}

.dropdownnames a:hover{
    background-color: #AA80AB;
}

.vis{
    display: block;
}

.medarbejder-photo{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}













/* Kalender */

.calender {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.calender-heart {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    margin-top: 20px;
}


/* Small PC/tablet screen  */

@media only screen and (max-width: 1024px) {
    li {font-size: 15px;}
    h2, h1 {font-size: 20px;}
    p {font-size: 14px;}
    .btn-two {font-size: 14px; width: 25%; height: 40px;}
    .forside-box {font-size: 15px;}
    .bluebox-two {font-size: 10px;}
    .knaptekst {font-size: 14px;}
    .leftcolumn {width: 100%;}
    .rightcolumn {width: 100%; margin-bottom: 20px;}
    .leftcolumn-two {width: 100%;}
    .rightcolumn-two {width: 100%;}
}

/* Mobil/tablet */

@media only screen and (min-width: 1px) and (max-width: 768px) {
    li {font-size: 15px;}
    .topnav-two {display: inherit;
    z-index: 10;}
    
    .fixbox-two {display: none;
     overflow: hidden;
     background-color: #333;
     position: relative;}
    
    .topnav-two {
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

    
.topnav-two #myLinks {
  display: none;
}

.topnav-two a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
    background-color: #A6BB75;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
}

.topnav-two a.icon {
  background: #A6BB75;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
    
}


.active {
  background-color: #4CAF50;
  color: white;
}
    
.burger-style {transform: scale(2)}

    /* spørgeskema media */
    .blueboxsporg{
        display:none;
    }
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: auto;
    }
    .sporgeskemaimg{
        margin-top: 35px;
        margin-bottom: 35px;
        width: 180px;
    }
    .psporg{
        width: 100%;
    }
    .h4sporgsmaludenfor{
        width: 70%;
    }
    
    .medarbejder-photo{
      display: block;
      margin-left: auto;
      margin-right: auto;
}
}



/* medarbejder billeder */

@media only screen and (min-width: 1px) and (max-width: 768px)
