* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}


p {
    font-family: "heebo", sans-serif;
    font-size: 16px;
}



h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

h3 {
     font-family: "Roboto Mono", sans-serif;
    font-size: 20x;
    font-weight: 700;
}




/* Navigationsbar */

.logo {
    margin-top: 10px;
    margin-bottom: 20px;  
}



.fixbox-two {
    height: 53px;
}

.topnav {
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}

.sticky + .leftcolumn {
    margin-top: 40px;
}


.navbjaelke {
    height: 10px;
    width: 100%;
    background-color: #A6BB75;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 40px;
    float: left;
}

ul {
    width: 100%;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
}


li {
    display: inline-block;
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    display: table-cell
    
}

li.active {
    color: #AA80AB;
}


/* Venstre kolonne */


.leftcolumn {
    float: left;
    margin-top: 20px;
    width: 48%;
    margin-bottom: 20px;
}

.greybox {
    width: 100%;
    height: 120px;
    background-color: #E8E8E8;
    border-radius: 2px;
    margin-top: 20px;
}

.forside-box, .forside-tekst, .bluebox-one {
    margin-left: 10px;
    margin-top: 15px;
}

.greybox, .bluebox {
    padding-top: 1px;
}

.btn-two {
    width: 22%;
    float: right;
    margin-right: 9px;
    height: 25px;
    background-color: #A6BB75;
    border-radius: 2px;
    color: white;
    font-family: "heebo", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
}

/* højre kolonne */

.rightcolumn {
    float: right;
    margin-top: 20px;
    width: 48%;
}

.bluebox {
    width: 100%;
    height: 120px;
    background-color: #6696AC;
    border-radius: 2px;
    margin-top: 20px;
    color: white;
    
}

.bluebox-two {
    float: right;
    margin-right: 15px;
}


/* Small pc screen */

@media only and (min-width: 768px) {
    body {background-color: blueviolet}
    
}