* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* text */

h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

h3 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 20x;
    font-weight: 700;
}

p {
    font-family: "heebo", sans-serif;
    font-size: 16px;
}

.h2-hojtdrive{
   color: #A6BB75;
    margin-top: 30px;
    margin-bottom: 15px;
}
.h2-staerktteam{
    color: #AA80AB;
    margin-top: 30px;
    margin-bottom: 15px;
}

.h2-godkarma{
    color: #D26D75;
    margin-top: 30px;
    margin-bottom: 15px;
}

.h2-hadetsjovt{
    color: #6696AC;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4{
    font-family: "heebo", sans-serif;
    font-weight: 700;
}

.psporg{
    width: 45%;
    margin-left: 10px;
}

.eksempelp{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 50px;
    color: #696969;
    margin-bottom: 15px;
}

.h4sporgsmal{
    margin-left: 50px;
    width: 70%;
    
}
.h4sporgsmaludenfor{
    margin-left: 50px;
    width: 40%;
    
}
/* grid */
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: auto;
    grid-column-gap: 2%;
}

.left{
}
.right{
    text-align: center;
}

/* bluebox sporg */

.blueboxsporg{
    width: 100%;
    background-color: #6696AC;
    border-radius: 2px;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Billeder */

.sporgeskemaimg{
    width: 280px;
    margin-top: 150px;
    
}

/* input */
.sporgsmalinput{
    width: 80%;
    height: 45px;
    background-color: #e8e8e8;
    border: 0px;
    border-radius: 2px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: "heebo", sans-serif;
}

/* spørgeskema check knap */

input[type=checkbox] + label {
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    border-radius: 2px;
    color: transparent;
    background-color: #e8e8e8;
    transition: .2s;
    margin-left: 10px;
}

input[type=checkbox]:checked + label:before{
    background-color: #e8e8e8;
    color: #000000;
}

input[type=checkbox] + label:active:before{
    transform:scale(.8)
}

@media screen and (max-width:768px){
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: auto;
    }
    .sporgeskemaimg{
        margin-top: 35px;
        margin-bottom: 35px;
        width: 180px;
    }
    .psporg{
        width: 100%;
    }
    .h4sporgsmaludenfor{
        width: 70%;
    }
}
