*{
    margin: 0px;
    padding: 0px;
}

/* Template for forside */

body {
    width: 90%;
    margin: auto;
}

header {
    margin-bottom: 40px;
    margin-top: 15px;
}

.logo {
   float: left;
    position: fixed;
    width: 10em;
    margin-left: 25px;
   
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
    padding-top: 45px;
    color: black;
    font-family: "roboto mono", sans-serif;
}

h2 {
    font-family: "roboto mono", sans-serif;
}

h3 {
    font-family: "roboto mono", sans-serif;
}

h4 {
    font-family: "roboto mono", sans-serif;
}

p {
    font-family: "heebo", sans-serif;
}

.menu {
    width: 20%;
    margin-left: 2em;
    position: fixed;
}

h2 {
    font-size: 1.8em;
    color: black
}

a:link {
    text-decoration: none;
}



.menubtn {
    margin-bottom: 1em;
    text-decoration: none;
}

.menubtn:hover {
    transform: scale(1.05)
}



.tekstboks {
    width: 70%;
    height: 50em;
    float: right;
    font-size: 1em;
}

.broedtekst {
    font-family: "heebo", sans-serif;
    margin-top: 10px;
}


.h2eks {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.peks {
    font-family: "heebo", sans-serif;
    font-size: 20px;
    
}

/* Underside rubrik */

.imgcontainer {
    position: relative;
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    clear: left;
    margin-bottom: 20px;
    
}

.imgcontainer2 {
    position: relative;
    width: 40%;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    clear: right;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 220px;
}

.size {
    max-height: 220px;
    width: 100%;
}

.imgportrait {
    max-height: 100%;
    max-width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* farver */

.farveboks {
    width: 25%;
    float: left;
    margin: 5px;
    height: 150px;
    border-radius: 4px;
    position: relative;
}

.A6BB75 {
    background-color: #A6BB75
}

.D26D75 {
    background-color: #D26D75
}

.AA80AB {
    background-color: #AA80AB
}

.D8A65A {
    background-color: #D8A65A
}

.a6696AC {
    background-color: #6696AC
}

.midt {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


@media only screen and (max-width: 1024px) {
    h2 {font-size: 25px;}
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
    .menu {width: 100%; position: relative; font-size: 10px; margin-bottom: 30px; margin: 0;}
    
    
    .resnav {position: relative; text-align: center; }
    
    .resguide {
        font-size: 30px; padding: 0; text-align: center;
    }
    
    .logo {display: none; margin: 0;}
    
    .tekstboks { width: 100%; text-align: center; margin-top: 40px;}
    
    .farveboks {height: 80px; width: 100%}
    
    .imgcontainer {width: 100%; margin: 0; margin-bottom: 20px; margin-top: 20px;}
    
    .imgcontainer2 {width: 100%; margin: 0; margin-bottom: 20px;}
}
